/* Font incorporation - Begin */
@font-face {
	font-family: 'DejaVu Sans Mono Bold';
	src: url('DejaVuSansMono-Bold.ttf');
}

@font-face {
	font-family: 'DejaVu Sans Mono';
	src: url('DejaVuSansMono.ttf');
}

@font-face {
	font-family: 'Merriweather Light';
	src: url('Merriweather-Light.ttf');
}
/* Font incorporation - End */

/* Reset - Begin */
html {
	margin: 0;
	padding: 0;
}

body {
	position: absolute;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	font-size: 62.5%;
	line-height: 1.3;
	font-family: "DejaVu Sans Mono", "Lucida Console", "Courier New";
	outline: none;
	color: #222;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

ul {
	list-style: none;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	font-weight: normal;
}

p {
	margin: 0 0 1em 0;
	font-family: "Merriweather Light", "Times New Roman";
	font-size: 1.8em;
	line-height: 1.7;
}

a {
	color: #222;
}
/* Reset - End */

/**
 * Typography scale - Begin
 *
 * @ratio: 1:1.333
 */
h1, .h1-size {
	font-size: 7.2em;
}

h2, .h2-size {
	font-size: 6.0em;
}

h3, .h3-size {
	font-size: 4.8em;
}

h4, .h4-size {
	font-size: 3.6em;
}

h5, .h5-size {
	font-size: 2.4em;
}

h6, .h6-size {
	font-size: 1.8em;
}
/* Typography scale - End */

/* Responsive layout settings - Begin */
.row,
.column {
	box-sizing: border-box;
}

.row:before,
.row:after {
	content: " ";
	display: table;
}

.row:after {
	clear: both;
}

.column {
	position: relative;
	float: left;
}

.column + .column {
	/* Gutter */
	margin-left: 1.6%;
}

.column-12 + .column-12 {
	/* Gutter */
	margin-left: 0;
}

.column-1 {
	width: 6.86666666667%;
}

.column-2 {
	width: 15.3333333333%;
}

.column-3 {
	width: 23.8%;
}

.column-4 {
	width: 32.2666666667%;
}

.column-5 {
	width: 40.7333333333%;
}

.column-6 {
	width: 49.2%;
}

.column-7 {
	width: 57.6666666667%;
}

.column-8 {
	width: 66.1333333333%;
}

.column-9 {
	width: 74.6%;
}

.column-10 {
	width: 83.0666666667%;
}

.column-11 {
	width: 91.5333333333%;
}

.column-12 {
	width: 100%;
}
/* Responsive layout settings - End */

/* Body style - Begin */
.uppercase {
	text-transform: uppercase;
}

.lowercase {
	text-transform: lowercase;
}

.positive-tracking-25 {
	letter-spacing: 0.25em;
	text-indent: 0.25em;
}

.positive-tracking-10 {
	letter-spacing: 0.075em;
	text-indent: 0.075em;
}

.italic {
	font-style: italic;
}

.bold {
	font-weight: bold;
}

.button {
	display: inline-block;
	padding: 15px 20px;
	border: 1px solid #222;
	background: transparent;
	font-family: "DejaVu Sans Mono Bold", "Lucida Console", "Courier New";
	font-size: 1.2em;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 0.10em;
	cursor: pointer;
	text-align: center;
}

.section-content {
	/**
	 * Margin de 1 coluna + gutter para cada lado
	 * O conteúdo tem largura de 10 colunas
	 */
	/*margin: 0 16.933333333334%;*/
	margin: 0 8.46666666667%;
	min-height: 100%;
}

header, main, section {
	margin-bottom: 70px;
}

header {
	height: 100%;
	background-color: #121212;
	background-image: url('../images/header-background.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-attachment: scroll;
	text-align: center;
	position: relative;
}

header #sandwich-menu {
	display: none;
	width: 100%;
}

header #sandwich-menu span {
	margin-top: 10px;
	float: left;
	border: 0;
	width: 32px;
	height: 32px;
	padding: 0;
	background-image: url('../images/sandwich-menu-icon.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

header #main-menu {
	z-index: 9999;
	position: relative;
}

header #main-menu .column-4 {
	margin: 0 33.86666666668%;
}

header #main-menu .list-item {
	padding: 30px 0 15px 0;
	text-align: center;
}

header #main-menu .list-item a {
	color: #fff;
	text-decoration: none;
	font-family: "DejaVu Sans Mono Bold", "Lucida Console", "Courier New";
	padding-left: 1px;
}

header #main-menu .list-item a:hover {
	border-bottom: 5px solid #ffa600;
}

header #title-container {
	width: 100%;
	color: #fff;
	position: absolute;
	top: 38%;
}

header h1, header h2 {
	font-size: 1em;
	text-shadow: 0 5px 10px #000;
	font-family: "DejaVu Sans Mono Bold", "Lucida Console", "Courier New";
}

header h1 {
	margin-bottom: 10px;
}

header #button-container {
	width: 100%;
	position: absolute;
	bottom: 25%;
}
header a[role="button"] {
	color: #fff;
	border: 3px solid #efefef;
	box-shadow: 0 5px 10px #000;
	border-radius: 3px;
}

header a[role="button"]:hover {
	border: none;
	background: #ffa600;
}

.heading {
	margin-bottom: 3em;
}

.heading h3 {
	font-family: "DejaVu Sans Mono Bold", "Lucida Console", "Courier New";
	line-height: 0.85em;
	overflow: hidden;
	text-align: left;
	border-left: 30px solid #ffa600;
	padding: 1px 0 0 5px;
}

#about #portrait {
	box-sizing: border-box;
	text-align: center;
}

#about #portrait img {
	width: 245px;
	border: 8px solid #fff;
	border-radius: 50%;
	box-shadow: 0 0 20px #dadada;
}

#about #presentation a:hover {
	color: #ffa600;
}

#about #presentation p:last-child {
	margin-bottom: 0;
}

#blog #posts {
	padding: 0;
	margin: 0;
}

#blog #posts li {
	margin: 0 0 3em 0;
	display: inline-block;
}

#blog #posts li:last-child {
	margin: 0;
}

#blog #posts li:first-child {
	margin: 1em 0 3em 0;
}

.card {
	padding: 35px;
	min-height: 150px;
	background-color: #efefef;
	border-bottom: 3px solid #dadada;
	border-radius: 3px;
}

.card h4 {
	padding: 2px 0 0 5px;
	line-height: 1em;
	font-family: "DejaVu Sans Mono Bold", "Lucida Console", "Courier New";
	border-left: 8px solid #ffa600
}

.card .date {
	margin-top: 1em;
	display: block;
	font-size: 1.4em;
	color: #888;
	text-transform: uppercase;
}

.card p {
	margin-top: 22px;
}

.card a.continue_reading, #pagination a {
	font-size: 1.4em;
	display: inline-block;
	text-transform: uppercase;
	font-family: "DejaVu Sans Mono Bold", "Lucida Console", "Courier New";
}

#blog #pagination {
	margin-top: 25px;
}

#blog #earlier-posts {
	float: left;
}

#blog #latest-posts {
	float: right;
}

.card a.continue_reading:hover, #blog a.blog-pagination:hover {
	color: #ffa600;
}

#contact #social-links {
	padding-right: 10px;
}

#contact #social-links a:hover {
	color: #ffa600;
}

#contact #contact-form {
	margin-top: 1em;
}

#contact #contact-form input,
#contact #contact-form textarea
{
	border: 3px solid #dadada;
	background-color: #efefef;
	padding: 12px;
	width: 100%;
	margin-bottom: 15px;
	font-family: 'Merriweather Light', 'Times New Roman';
	font-size: 1.8em;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box; 
	border-radius: 3px;
}

#contact #contact-form input:focus,
#contact #contact-form textarea:focus {
	border: 3px solid #dadada;
}

#contact #contact-form textarea {
	height: 200px;
	resize: none;
}

#contact #contact-form #send {
	margin: 10px 0 0 0;
	padding: 18px;
	float: right;
	background-color: #dadada;
	border: none;
	width: 35%;
	color: #fff;
	border-radius: 3px;
}

#contact #contact-form #send:hover {
	border: none;
	background: #ffa600;
}

footer {
	padding: 15px 0;
	text-align: center;
	background-color: #121212;
}

footer small, footer small a {
	text-transform: uppercase;
	color: #ffa600;
}

footer small a:hover {
	color: #fff;
}
/* Body style - End */

/* Media queries - Begin */
@media screen and (max-width: 1024px) {}

@media screen and (max-width: 960px) {
	#about #portrait {
		text-align: center;
		margin-bottom: 25px;
	}

	#about #portrait,
	#about #presentation {
		width: 100%;
	}
}

@media screen and (max-width: 840px) {
	.column-6 {
		width: 100%;
	}

	#contact #social-links {
		padding-right: 0;
	}

	.column-6 + .column-6 {
		margin-left: 0;
	}
}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 640px) {}

@media screen and (max-width: 480px) {
	.column-1,
	.column-2,
	.column-3,
	.column-4,
	.column-5,
	.column-6,
	.column-7,
	.column-8,
	.column-9,
	.column-10,
	.column-11,
	.column-12 {
		width: auto;
		float: none;
	}

	.column + .column {
		margin-left: 0;
	}

	.section-content {
		margin: 0 8.466666667%;
	}

	header #main-menu {
		background: #121212;
		display: none;
	}

	header #main-menu .list-item:last-child {
		padding: 30px 0 30px 0;
	}

	header #sandwich-menu {
		display: block;
	}

	header a[role="button"] {
		display: none;
	}

	header .h3-size {
		font-size: 3.6em;
	}

	header .h5-size {
		font-size: 1.8em;
	}

	#about #portrait {
		text-align: center;
		margin-bottom: 25px;
	}

	.card {
		padding: 30px;
	}

	#contact #contact-form #send {
		width: 100%;
	}
}

@media screen and (max-width: 320px) {
	.column-1,
	.column-2,
	.column-3,
	.column-4,
	.column-5,
	.column-6,
	.column-7,
	.column-8,
	.column-9,
	.column-10,
	.column-11,
	.column-12 {
		width: auto;
		float: none;
	}

	.column + .column {
		margin-left: 0;
	}

	.section-content {
		margin: 0 8.466666667%;
	}

	header #main-menu {
		background: #121212;
		display: none;
	}

	header #main-menu .list-item:last-child {
		padding: 30px 0 30px 0;
	}

	header #sandwich-menu {
		display: block;
	}

	header a[role="button"] {
		display: none;
	}

	header .h3-size {
		font-size: 3.6em;
	}

	header .h5-size {
		font-size: 1.8em;
	}

	#about #portrait {
		text-align: center;
		margin-bottom: 25px;
	}

	#contact-form #send {
		width: 100%;
	}
}
/* Media queries - End */